//Base Styles
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

body {
    box-sizing: border-box;
    line-height: 1.7;
}

html {
    scroll-behavior: smooth;
}

//variables
$text_color: #ffffff;

//Main Styles

.header {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/gifs/macbook.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: $text_color;
    margin-bottom: 6rem;
    position: relative;

    &__logo-nav-container {
        display: flex;
        justify-content: space-around;
        height: 4rem;
        align-items: center;
        padding-top: 2rem;

        &--navWrapper {
            
            &-nav {

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin-right: 3rem;
                        font-size: 1.2rem;

                        a {
                            color: $text_color;
                            text-decoration: none;
                        }


                        &:nth-child(1) {
                            border-bottom: .2rem outset $text_color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
    }

    &__bottom-content {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        text-align: center;

        &--attribute1 {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: .1rem;
                height: 4.2rem;
                left: 18rem;
                bottom: 1rem;
                background-color: $text_color;
            }
        }
        &--attribute2 {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: .1rem;
                height: 4.2rem;
                left: 20rem;
                bottom: .6rem;
                background-color: $text_color;
            }
        }
        &--attribute3 {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: .1rem;
                height: 4.2rem;
                left: 18rem;
                bottom: 1rem;
                background-color: $text_color;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        &__logo-nav-container {
            display: block;
        }
    }
}

