//Base Styles
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

body {
    box-sizing: border-box;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

//variables
$text_color: #ffffff;
$secondary-text_color: #ff0000;
$tertiary-text_color: #ffcc00;

//Main Styles

.header {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/gifs/macbook.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: $text_color;
    margin-bottom: 6rem;
    position: relative;

    &__logo-nav-container {
        display: flex;
        justify-content: space-around;
        height: 4rem;
        align-items: center;
        padding-top: 2rem;


        &--navWrapper {
            
            &-nav {

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin-right: 3rem;
                        font-size: 1.2rem;
                
                        #Home { 
                            color: $tertiary-text_color;
                        }
                        a {
                            color: $text_color;
                            text-decoration: none;

                            &:hover {
                                color: $secondary-text_color;
                                font-size: 30px;
                                transition: .2s ease-in-out;
                            }
                        }


                        &:nth-child(1) {
                            border-bottom: .2rem outset $secondary-text_color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &--logoWrapper {
            .logo {
                font-size: 30px;
            }
        }
    }

    &__heading {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-size: 35px;
            font-weight: bold;

            .subHeading {
                color: $tertiary-text_color;
                border-bottom: .2rem outset $secondary-text_color;
                
            }
        }
    }

    &__bottom-content {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -10%);
        text-align: center;

        &--attribute1 {
            position: relative;
            border-left: .1rem outset $secondary-text_color;
            border-bottom: .2rem outset $tertiary-text_color;
            padding: 3rem;

        }
        &--attribute2 {
            position: relative;
            border-bottom: .2rem outset $tertiary-text_color;
            padding: 3rem;
        }
        &--attribute3 {
            position: relative;
            border-bottom: .2rem outset $tertiary-text_color;
            border-right: .1rem outset $secondary-text_color;
            box-shadow: .3rem .2rem $tertiary-text_color;
            padding: 3rem;
        }
    }
}

.main__about-section {
    position: relative;

    &__content  {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .header {
        &__logo-nav-container {
            display: block;
        }
    }
}

