*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-family: 'Lato', sans-serif; }

html {
  scroll-behavior: smooth; }

.header {
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/gifs/macbook.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  margin-bottom: 6rem;
  position: relative; }
  .header__logo-nav-container {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
    padding-top: 2rem; }
    .header__logo-nav-container--navWrapper-nav ul {
      list-style: none; }
      .header__logo-nav-container--navWrapper-nav ul li {
        display: inline-block;
        margin-right: 3rem;
        font-size: 1.2rem; }
        .header__logo-nav-container--navWrapper-nav ul li #Home {
          color: #ffcc00; }
        .header__logo-nav-container--navWrapper-nav ul li a {
          color: #ffffff;
          text-decoration: none; }
          .header__logo-nav-container--navWrapper-nav ul li a:hover {
            color: #ff0000;
            font-size: 30px;
            transition: .2s ease-in-out; }
        .header__logo-nav-container--navWrapper-nav ul li:nth-child(1) {
          border-bottom: 0.2rem outset #ff0000;
          font-weight: bold; }
    .header__logo-nav-container--logoWrapper .logo {
      font-size: 30px; }
  .header__heading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__heading h2 {
      font-size: 35px;
      font-weight: bold; }
      .header__heading h2 .subHeading {
        color: #ffcc00;
        border-bottom: 0.2rem outset #ff0000; }
  .header__bottom-content {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -10%);
    text-align: center; }
    .header__bottom-content--attribute1 {
      position: relative;
      border-left: 0.1rem outset #ff0000;
      border-bottom: 0.2rem outset #ffcc00;
      padding: 3rem; }
    .header__bottom-content--attribute2 {
      position: relative;
      border-bottom: 0.2rem outset #ffcc00;
      padding: 3rem; }
    .header__bottom-content--attribute3 {
      position: relative;
      border-bottom: 0.2rem outset #ffcc00;
      border-right: 0.1rem outset #ff0000;
      box-shadow: 0.3rem 0.2rem #ffcc00;
      padding: 3rem; }

.main__about-section {
  position: relative; }
  .main__about-section__content {
    display: flex;
    justify-content: center; }

@media screen and (max-width: 480px) {
  .header__logo-nav-container {
    display: block; } }
